
body {
  justify-content: center;
  display: flex;
  align-items: center;

}
.darkModeBttn {
  margin-top: 20px;
  border-radius: 5px;
  color: darkblue;
  font-Weight: bold;
}
#priority{
  background-color: #86f386;
}
#important{
  background-color: #f1be5d;
}
#inmind{
  background-color: #8dbdbd;
}
